<form (ngSubmit)="handleSubmit(contactForm)" #contactForm="ngForm">
  <div class="form-row">
      <fieldset class="form-column">
        <legend>Contact Details</legend>
        <input type="text" name="firstName" [(ngModel)]="contact.firstName" placeholder="First Name" required />
        <input type="text" name="lastName" [(ngModel)]="contact.lastName" placeholder="Last Name" required />
        <input type="email" name="email" [(ngModel)]="contact.email" placeholder="Email" required />
        <input type="tel" name="phoneNumber" [(ngModel)]="contact.phoneNumber" placeholder="Phone Number" required />
      </fieldset>
      <fieldset class="form-column">
        <legend>Address</legend>
        <input type="text" name="address.street" [(ngModel)]="contact.address.street" placeholder="Street" />
        <input type="text" name="address.city" [(ngModel)]="contact.address.city" placeholder="City" />
        <input type="text" name="address.state" [(ngModel)]="contact.address.state" placeholder="State" />
        <input type="text" name="address.zipCode" [(ngModel)]="contact.address.zipCode" placeholder="Zip Code" />
        <input type="text" name="address.country" [(ngModel)]="contact.address.country" placeholder="Country" />
      </fieldset>
    </div>
    <button type="submit">Submit</button>
    <button *ngIf="shouldShowCancelButton()" type="button" (click)="handleCancel()">Cancel</button>
  </form>
  