<h2>Contacts list</h2>
<div class="contact-list">
    <div *ngFor="let contact of contacts.slice(0, visibleCount)">
      <!-- Render your contact item here -->
      <app-contact-item [contact]="contact"></app-contact-item>
    </div>
  </div>
  
<!-- 
<div className="contact-list">
    <app-contact-item *ngFor="let contact of contacts.slice(0, visibleCount); let i = index"
        [key]="contact._id"
        [contact]="contact"
        [ref]="i + 1 === visibleCount ? lastContactElementRef : null"
    ></app-contact-item>
</div> -->

